@model IList<AppUser>
@using MoviesMafia.Models.Repo
@using MoviesMafia.Models.GenericRepo
@using System.Text.Json;
@using System.Security.Claims;

@section profilecss{
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}
@{
    ViewBag.Title = "Admin";
}
<div class="container bg-dark text-light text-center border border-2 border-white">
    <h1 class="fw-bolder">All Users</h1>
    <table class="table text-light text-center border border-2 border-white">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr class="text-break">
                    <th scope="row">@v.Id</th>
                    <td>@v.UserName</td>
                    <td>@v.Email</td>
                    <td>
                        <a class="btn btn-primary" asp-action="EditUser" asp-controller="Account" asp-route-id="@v.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="Account" asp-route-deleteButton="@JsonSerializer.Serialize(v)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


