@model Tuple<List<Records>, UpdateUserModel>
@using MoviesMafia.Models.Repo
@using MoviesMafia.Models.GenericRepo
@using System.Text.Json;
@using System.Security.Claims;

@section profilecss{
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}
@{
    ViewBag.Title = "Profile";
}
<div class="container border-2 border border-white px-0 py-0">
    <div class="container bg-dark border-bottom">
        <div class="row toprow">

            <div class="col dp">
                <div class="profile-image-container">
                    <img class="rounded-circle shadow-4-strong ms-md-4 mt-4 mb-4 NO-CACHE"
                         src="~/ProfilePictures/@ViewBag.ProfilePicturePath"
                         height="300px"
                         width="250px"
                         alt="profile-image" />
                    <button type="button" class="btn btn-danger edit-profile-button" id="updateProdilePictureBtn" data-bs-toggle="modal" data-bs-target="#updateProfilePicture">
                        Update Profile Picture
                    </button>
                </div>
            </div>

            <div class="col d-flex justify-content-center align-items-center flex-column text-light">
                <h1 class="text-light text-center fw-bolder">Account Settings</h1>
                <p>@User.Identity.Name</p>
                <p>@ViewBag.EmailData</p>
                <button type="button" class="btn btn-danger" id="updateAccountBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Update Password
                </button>

            </div>

        </div>
    </div>

    <!-- Modal For Updating Password -->
    <div class="modal fade text-light" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updatePasswordHeading">Update Password</h1>
                    <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="text-light" id="updatePasswordForm">
                    <div class="modal-body">
                        <div class="form-floating mb-3 form-group">
                            <input asp-for="Item2.CurrentPassword"
                                   class="form-control bg-dark text-light"
                                   placeholder="Current Password"
                                   id="CurrentPassword" />
                            <label asp-for="Item2.CurrentPassword" class="form-label"></label>
                            <span asp-validation-for="Item2.CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input asp-for="Item2.NewPassword"
                                   class="form-control bg-dark text-light"
                                   placeholder="New Password"
                                   id="Password" />
                            <label asp-for="Item2.NewPassword" class="form-label"></label>
                            <span asp-validation-for="Item2.NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input asp-for="Item2.ConfirmPassword"
                                   class="form-control bg-dark text-light"
                                   placeholder="Confirm New Password"
                                   id="ConfirmPassword" />
                            <label asp-for="Item2.ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="Item2.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeBtn" data-bs-dismiss="modal">Close</button>
                        <button type="button"  id="updatePassword" class="btn btn-danger">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal For Updating Password-->

    <!-- Modal For Updating ProfilePicture -->
    <div class="modal fade text-light" id="updateProfilePicture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateProfilePictureHeading">Update Profile Picture</h1>
                    <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="text-light" EncType="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" id="updateProfilePictureInput"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeDpBtn" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="updateProfilePicture()" id="updateProfilePictureBtn" class="btn btn-danger">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal For Updating ProfilePicture -->

    <div class="container bg-dark text-light text-center border border-2 border-white ">
        <h1 class="fw-bolder mt-3">Requested Movies/Seasons By You</h1>
        <table class="table text-light text-center border border-2 border-white">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Item1)
                {

                    <tr class="text-break text-wrap">
                        <td>@v.Name</td>
                        <td>@v.Year</td>
                        <td>@v.Type</td>

                        <td>

                            <a class="btn btn-primary" asp-action="EditRecord" asp-controller="Account" asp-route-id="@v.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteRecord" asp-controller="Account" asp-route-deleteButton="@JsonSerializer.Serialize(v)">Delete</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="container bg-dark d-flex flex-column">
        <div class="row mt-2 d-flex justify-content-center text-center ">
            <div class="col-sm-12 col-lg-6 bg-dark border-bottom border-light">
                <h5 class="text-light h2 ">Request a Movie</h5>
                <form class="text-light" asp-action="RequestMovie" asp-controller="Account">
                    <div class="form-group m-2">
                        <label for="textInput">Name</label>
                        <input required name="name" type="text" class="form-control" placeholder="Copy Name From Google" id="textInput">
                    </div>
                    <div class="form-group m-2">
                        <label for="numberInput">Year</label>
                        <input required placeholder="Enter Year" name="year" type="number" class="form-control" id="numberInput" min="1990" max="@DateTime.Now.Year">
                    </div>
                    <div class="form-group form-check form-check-inline m-2">
                        <input required class="form-check-input" type="radio" name="type" id="inlineRadio1" value="Movie">
                        <label class="form-check-label" for="inlineRadio1">Movie</label>
                    </div>
                    <div class="form-group form-check form-check-inline m-2">
                        <input required class="form-check-input" type="radio" name="type" id="inlineRadio2" value="Season">
                        <label class="form-check-label" for="inlineRadio2">Season</label>
                    </div>
                    <button type="submit" class="btn btn-danger mb-3">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>