@section moviescss{
    <link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
}
@model Task<MovieRoot>;
@{
    
    ViewBag.Title = "Search Movie";
    var obj = Model.Result;
    
    var IMG_URL = "https://image.tmdb.org/t/p/w500";
    var currentPage = obj.Page;
    int nextPage, prevPage;
    string getColor(double vote_average)
    {
        if (vote_average >= 8)
        {
            return "green";
        }
        else if (vote_average >= 5)
        {
            return "orange";
        }
        else
        {
            return "red";
        }
    }
}

@try
{
    @foreach (var i in obj.Results)
    {

        <div class="minfo">
            <div class="movie">
                <img src="@IMG_URL@i.Poster_Path" alt="@i.Title" />

                <div class="movie-info">
                    <h3>@i.Title</h3>
                    <span class="@getColor(i.Vote_Average)">@i.Vote_Average</span>
                </div>
                <div class="text-light overview">
                    <h3 class="fw-bold text-light">Overview</h3>
                    @i.Overview
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="playnow">
                    <button class="btn btn-danger w-100" type="submit">Play Now</button>
                </div>
            }
        </div>
    }
}
catch
{
    <h1 class=" d-flex align-items-center text-light justify-content-center" style="width:70vw;height:70vh">Wrong Request</h1>
}
@if (User.Identity.IsAuthenticated)
{
    @if (obj.Page == 1 && obj.Page < obj.Total_Pages)
    {
        <div class="pagination">
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                prevPage = obj.Page - 1;
                <button class="btn btn-dark page disabled" name="page" value="0" id="next">Previous Page</button>
                <input type="hidden" name="type" value="Movie">

            }
            <div class="current" id="current">@obj.Page</div>
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                nextPage = obj.Page + 1;
                <button class="btn btn-dark page" name="page" value="@nextPage" id="next">Next Page</button>
                <input type="hidden" name="type" value="Movie">

            }
        </div>
    }
    else if (obj.Page > 1 && obj.Page < obj.Total_Pages)
    {
        <div class="pagination">
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                prevPage = obj.Page - 1;
                <button class="btn btn-dark page" name="page" value="@prevPage" id="next">Previous Page</button>
                <input type="hidden" name="type" value="Movie">

            }
            <div class="current" id="current">@obj.Page</div>
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                nextPage = obj.Page + 1;
                <button class="btn btn-dark page" name="page" value="@nextPage" id="next">Next Page</button>
                <input type="hidden" name="type" value="Movie">

            }
        </div>
    }
    else if (obj.Page == obj.Total_Pages)
    {
        <div class="pagination">
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                prevPage = obj.Page - 1;
                <button class="btn btn-dark page disabled" name="page" value="@prevPage" id="next">Previous Page</button>
                <input type="hidden" name="type" value="Movie">

            }
            <div class="current" id="current">@obj.Page</div>
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                nextPage = obj.Page + 1;
                <button class="btn btn-dark page disabled" name="page" value="@nextPage" id="next">Next Page</button>
                <input type="hidden" name="type" value="Movie">

            }
        </div>
    }
    else
    {
        <h3 class=" d-flex align-items-center text-light justify-content-center" style="width:70vw;height:70vh">No Result Found</h3>
        <div class="pagination">
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                prevPage = obj.Page - 1;
                <button class="btn btn-dark page disabled" name="page" value="@prevPage" id="next">Previous Page</button>
                <input type="hidden" name="type" value="Movie">

            }
            <div class="current" id="current">0</div>
            @using (Html.BeginForm("Page", "Search", FormMethod.Post))
            {
                nextPage = obj.Page + 1;
                <button class="btn btn-dark page disabled" name="page" value="@nextPage" id="next">Next Page</button>
                <input type="hidden" name="type" value="Movie">

            }
        </div>
    }
}